curl -H "Authorization: token ${git_token}" --data "{ \"name\": \"${git_repo}\" }" https://api.github.com/user/repos
sleep 5
curl -H "Authorization: token ${git_token}" -H "Accept: application/vnd.github.barred-rock-preview" -d @vcs_consumer.json https://api.github.com/repos/${git_user}/${git_repo}/import
